<h2 class="animate__animated animate__fadeIn animate__faster">Escriu una Capital per trobar el país</h2>
<hr>
<div class="row">
    <div class="col">
        <app-pais-input
        
        (onEnter) = "cercar( $event )"
        (onDebounce) = "sugerencies( $event )"
        placeholder = "Cerca un país per la seva capital..."
        
        ></app-pais-input>
    </div>
</div>
<hr>
<div
    *ngIf="hihaError"
    class="alert alert-danger"
    >
    No s'ha trobat cap país que contingui les lletres {{ terme }}
</div>

<div class="row" *ngIf="paisos.length > 0">
    <div class="col">

       <app-pais-taula
       [paisos] = "paisos"
       [hihaError] = "hihaError"
       
       ></app-pais-taula>
    </div>

</div>
