

<h2>Cerca </h2>
    <hr />
    <ul class="list-group">
      <li 
        class="list-group-item" 
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions] = "{ exact:true }"
      >
        Per País

      </li>

      <li 
        class="list-group-item" 
        routerLink="regio" 
        routerLinkActive="active"
      >
        Per Continent

      </li>

      <li
        class="list-group-item"
        routerLink="capital"
        routerLinkActive="active"
      >
        Per Capital

      </li>

      <li
        class="list-group-item"
        routerLink="sobre"
        routerLinkActive="active"
      >
        Sobre la web

      </li>

    </ul>
