<h2>Sobre la Web</h2>
<hr>

<h4><strong>Sobre la construció</strong></h4>
<p>Aquí trobaràs de manera esquemàtica, el que considero més interessant del que he aplicat en aquest exercici. </p>
<ul>
    <li><strong>Modularització</strong>: Estructura pensada per a mitja escala amb un modul de tipus Shared i un l'altre, per a la resta de continguts
    </li>
    <li>
        <strong>Rutes</strong>, RouterLink i RouterLinkActive
    </li>
    <li>
        Components per a pàgines, <strong>components reutilitzats</strong> per al cercador i per la taula. Serveis, interfaces, routing.module...
    </li>
    <li>
        Peticions <strong>http</strong>
    </li>
    <li>
        <strong>Tipat</strong> de dades amb quicktype per a la interface del array
    </li>
    <li>
        Us de <strong>API </strong>keys i filtratge de continguts.
    </li>
    <li>
        Us esporàdic d'alguna <strong>pipe</strong>
    </li>
    
    <li>
        <strong>DebounceTime</strong> per a crear les sugerències del cercador
    </li>
    <li>
        Us de RxJs, amb el <strong>switchMap</strong>
    </li>
    
</ul>
<br>
<p>Espero que a pesar de ser tot encara força bàsic, li donis un cop d'ull. Salutacions!</p>

